body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #b2ebf2; /* Color celeste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #007bb5; /* Color azul */
}

form {
    display: block;
    text-align: left;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #007bb5; /* Color azul */
    display: block;
}

input[type="tel"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    display: block;
}

button {
    background-color: #007bb5; /* Color azul */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #005f86; /* Color azul oscuro */
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }
}
